<div class="container">
  <div class="filter">
    <div class="row">
      <div class="col-lg-6">
        <div class="bs-example" data-example-id="single-button-dropdown">
          
            <div class="btn-group"> 
                <button type="button" class="btn title-filter" aria-haspopup="true" aria-expanded="false"><h4>Filtrar por:</h4></button>
            </div>
            <div class="btn-group"> 
                <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" (click)="onPopularity()">Popularidade </button>
            </div>
            <div class="btn-group"> 
                <button type="button" class="btn btn-primary" aria-haspopup="true" aria-expanded="false" (click)="onViewer()">Visualizações </button> 
            </div> 
      
        </div>
    </div>
  </div>
</div>