<div class="container">

    <div id="products" class="row list-group" *ngIf="!notfind">
      <div *ngFor="let item of gamesList | OrderByPipe: filter " class="list-group-item  col-xs-4 col-4">
            <div *ngIf="item.game">
                <a routerLink="/game/{{ item.game._id }}">
                    <img class="game-img group list-group-image" [src]="item.game.box.large" alt="" />
                </a>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ item.game.name }}
                    </h4>
                </div>
            </div>
            <div *ngIf="!item.game">
                <a routerLink="/game/{{ item._id }}">
                    <img class="game-img group list-group-image" [src]="item.box.large" alt="" />
                </a>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ item.name }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center" *ngIf="notfind">
        Nenhum Resultado encontrado!
    </h1>
</div>